# Ignore everything
*

# Allow backend
!backend/**

# Allow frontend (FIX)
!frontend/**

# Allow nginx (VERY IMPORTANT)
!nginx/**

# Allow required files
!Dockerfile
!docker-compose.yml
!requirements.txt
!gunicorn_conf.py
